<h1>Thread City</h1>

<%= link_to "Edit Profile", edit_profile_path %>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>

<h2>Create Post</h2>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "What's on your mind?" %>
  </div>

  <%= form.submit "Post" %>
<% end %>

<h2>Feed</h2>

<% @posts.each do |post| %>
  <div>
    <p>
      <strong><%= post.user.profile.name %></strong>
    </p>

    <p><%= post.content %></p>

    <% if post.user == current_user %>
      <%= button_to "Delete", post_path(post), method: :delete %>
    <% end %>

    <h4>Comments</h4>

    <% post.comments.each do |comment| %>
        <p>
            <strong><%= comment.user.profile.name %>:</strong>
            <%= comment.content %>

            <% if comment.user == current_user %>
            <%= button_to "Delete", post_comment_path(post, comment), method: :delete %>
            <% end %>
        </p>
    <% end %>

    <%= form_with model: [post, Comment.new] do |form| %>
        <%= form.text_field :content, placeholder: "Write a comment..." %>
        <%= form.submit "Comment" %>
    <% end %>

    <p><%= post.likes.count %> likes</p>

    <% like = post.likes.find_by(user: current_user) %>

    <% if like %>
        <%= button_to "Unlike", post_like_path(post, like), method: :delete %>
    <% else %>
        <%= button_to "Like", post_likes_path(post), method: :post %>
    <% end %>
  </div>

  <hr>
<% end %>